.footer-main {
  display: flex;
  justify-content: space-evenly;
  background-color: #0c1c33;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  padding: 50px 0px;
}

.footer-main a:hover {
  text-decoration: underline;
}

.footer-main a {
  text-decoration: none;
}

.footer-left img {
  padding-top: 100px;
}

.footer-left p {
  color: #95b2db;
  padding-top: 25px;
}

.footer-mid-top a {
  color: white;
  /* font-size: 25px; */
}

.footer-mid-top a:nth-child(1) {
  font-size: 22px;
}
.footer-mid-top a:nth-child(1):hover {
  color: #95b2db;
}

.footer-mid-top a:nth-child(2) {
  font-size: 22px;
}
.footer-mid-top a:nth-child(2):hover {
  color: #95b2db;
}

.footer-mid-top a:nth-child(3) {
  color: #95b2db;
  /* padding-top: 25px; */
}
.footer-mid-top a:nth-child(3):hover {
  color: white;
}

.footer-mid-top a:nth-child(4) {
  color: #95b2db;
}
.footer-mid-top a:nth-child(4):hover {
  color: white;
}

.footer-mid-bottom a:nth-child(1) {
  font-size: 22px;
}
.footer-mid-bottom a:nth-child(1):hover {
  color: #95b2db;
}

.footer-mid-bottom a:nth-child(2) {
  font-size: 22px;
}
.footer-mid-bottom a:nth-child(2):hover {
  color: #95b2db;
}

.footer-mid-bottom a:nth-child(3) {
  color: #95b2db;
  /* padding-top: 25px; */
}
.footer-mid-bottom a:nth-child(3):hover {
  color: white;
}

.footer-mid-bottom a:nth-child(4) {
  color: #95b2db;
}
.footer-mid-bottom a:nth-child(4):hover {
  color: white;
}

.footer-mid-bottom a {
  color: white;
}

.footer-mid-top {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 25px;
}

.footer-mid-bottom {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 25px;
}

.footer-social {
  padding-top: 100px;
  display: flex;
  gap: 25px;
}
.footer-social a:hover {
  transform: scale(1.2);
}

.footer-right a p {
  margin-top: 50px;
  color: #95b2db;
  text-decoration: none
}

.footer-right a p:hover {
  color: white;
  text-decoration: none
}

.footer-social-bottom{
  padding-top: 10px;
  display: flex;
  gap: 25px;
  display: none;
}

.footer-social-bottom a:hover {
  transform: scale(1.2);
}

.term p{
  color: #95b2db;
  display: none;
}

.term p:hover{
  color: white;
}
