* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 75px;
}

.forgot-password-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-password-heading h1 {
  padding-top: 100px;
  color: #0c1c33;
  font-size: 50px;
  font-weight: bold;
}

.forgot-password-heading-info p {
  padding: 20px 0px;
  color: #495566;
  font-weight: bold;
}

.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-input {
  height: 50px;
  width: 400px;
  text-align: start;
  padding-left: 10px;
  font-weight: bold;
}

.forgot-password input:hover {
  border-color: #495566;
}

.forgot-password button {
  width: 20%;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0c1c33;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  border: 0px;
  cursor: pointer;
}

.forgot-password-exit{
    margin-top: 15px;
    padding-bottom: 100px;
}

.forgot-password-exit a{
    font-weight: bold;
    color: #495566;
}